.background-image {
    background-image: url('../assets/background/Oscar-drawing-v2-Fixed-cropped.jpg') !important;
    background-size: cover !important;
    background-position: center center;
}

/* Fills-in any empty space below the footer if the page length is small */
body {
    background-color: #1b1c1d;
}